body {
    background-color: lightblue;
}

.container {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.load {
    height: 100%;
    width: 100%;
    z-index: 9983;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}